{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>
    {% block title %}
        Django Blog
    {% endblock %}
    </title>

    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="{% static 'main/css/clean-blog.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    {% comment "" %}<link href="{% static 'main/css/fontawesome.min.css' %}" rel="stylesheet">{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
</head>                         

<body> 
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="{% url 'home_page' %}">Let's start..</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{% url 'home_page' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'create_post_page' %}">Create Blog</a>
              </li>
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'logout_page' %}">logout</a>
                {% else %}
                  <a href="{% url 'login_page' %}">login</a>
                {% endif %}
              </li>
              <li>
                <a href="{% url 'signup_page' %}">signup</a>
              </li>
              <li>
                <a href="{% url 'contact_us' %}">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- Page Header -->
    {% block main_content %}
   
    {% endblock main_content %}
    <style>
        .navbar {
            height: 40px;
            background-color: #34C759;
            z-index: 1000;
          }
          
          .navbar-nav > li > a {
            font-size: 13px;
            padding: 5px 10px;
          }
          
          .navbar-brand {
            font-size: 15px;
            padding: 10px 15px;
          }
        
          .fa {
            font-size: 50px; /* or any other size of footer icon you prefer */
          }
        
    </style>
    
    <script>

        // Get the navbar element
        const navbar = document.querySelector('.navbar');

        // Function to show the navbar
        function showNavbar() {
        navbar.classList.add('show');
        }

        // Function to hide the navbar
        function hideNavbar() {
        navbar.classList.remove('show');
        }

        // Add event listeners to the window
        let lastScrollTop = 0;
        window.addEventListener('scroll', () => {
        const scrollTop = window.scrollY;
        if (scrollTop > lastScrollTop) { // Scrolling down
            hideNavbar();
        } else { // Scrolling up
            showNavbar();
        }
        lastScrollTop = scrollTop;
        });

       
    </script>  
    <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; bharat.karki.com.np</p>
            </div>
        </div>
    </div>
    </footer>

   
    <!-- jQuery -->
    <script src="{% static 'main/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    
    <!-- Contact Form JavaScript -->
    <script src="{% static 'main/js/jqBootstrapValidation.js' %}"></script>
   
    <script src="{% static 'main/js/contact_me.js' %}"></script>
    
    <!-- Theme JavaScript -->
    <script src="{% static 'main/js/clean-blog.min.js' %}"></script>
    
</body>

</html>
    