{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Blog Detail
{% endblock %}
{% block main_content %}
<br>
<br>
<br>
<!-- Post Content -->

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading">{{ blog.title }}</h2>
        <p>{{ blog.content|striptags }}</p>

        <hr>
        <div class="" style="display: flex; justify-content: space-between;">
          <div class="post-meta" style="font-size: 1.2rem;">
            Posted by <a href="#">{{ blog.author }}</a> on {{ blog.created_at}}
          </div>
          <div>
            <!-- Display the like count -->
            <p id="likes-count-post">Likes: {{ blog.likes_count }} </p>

            <!-- Like button -->
            <button class="like-btn" data-obj-type="post" data-obj-id="{{ blog.id }}">Like</button>
            
            

          </div>
        </div>
        <hr />
 

        <section>
          <h5>Comments</h5>
          <!--dfd................................................................................................ddfd-->
          <form action="{% url 'add_comment' %}" method="post" enctype="multipart/form-data">
          <!--dfd................................................................................................ddfd-->
            {% csrf_token %}
            <input type="hidden" name="blog_id" value="{{ blog.id }}"/>
              {{ comment_form }}
            <button type="submit">Comment</button>
          </form>
          <hr>
          {% for comment in blog.comments.all %}
            <li>
              <button class="like-btn" data-obj-type="comment" data-obj-id="{{ comment.id }}">Like</button>
              <span id="likes-count-{{ comment.id }}" class="likes-count">Likes: {{ comment.likes_count }}</span>
              {{ comment.content }}
            </li>
          {% endfor %}
          </hr>
        </section>
      </div>
    </div>
  </div>
</article>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  // JavaScript code
var csrftoken = getCookie('csrftoken');

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function() {
  $(".like-btn").click(function() {
      var obj_id = $(this).data("obj-id");
      var obj_type = $(this).data("obj-type");
      console.log("{% url 'like_unlike' %}");
      console.log({
          "obj_id": obj_id,
          "obj_type": obj_type
      });
      $.ajax({
          type: "POST",
          url: "{% url 'like_unlike' %}",
          data: {
              "obj_id": obj_id,
              "obj_type": obj_type
          },
          headers: {
              'X-CSRFToken': csrftoken
          },
          success: function(data) {
              if (data.liked) {
                  $(this).text("Unlike (" + data.likes_count + ")");
              } else {
                  $(this).text("Like (" + data.likes_count + ")");
              }
              if (data.obj_type == "post") {
                  $("#likes-count-post").text("Likes: " + data.likes_count);
              } else {
                  $("#likes-count-" + data.obj_id).text("Likes: " + data.likes_count);
              }
          },
          error: function(xhr, errmsg, err) {
              console.log(xhr.status + ": " + xhr.responseText);
              alert("Error liking/unliking: " + errmsg);
          }
      });
  });
});
</script>

{% endblock %}