{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/logincss/style.css' %}">
                                                           
    <link rel="stylesheet" href="{% static 'main/css/logincss/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/logincss/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">

    <title>Django Blog | signup</title>
  </head>
  <body>
    <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('{% static 'main/image/bg_1.jpg' %}');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Signup to <strong>Django Blog</strong></h3>
            <p class="mb-2">Please fill the below form inorder to register</p>
            <form action="#" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ error|default:'' }}
              <div class="form-group first">
                <label for="username" style="margin-top: -10px">Username</label>
                <input type="text" class="form-control" minlength="6" placeholder="Your-Name" id="username" name="username" required style="height: 20px; padding: 0.1rem 1rem;">
              </div>
              <div class="form-group last mb-3">
                <label for="password" style="margin-top: -10px;">Password</label>
                <input type="password" class="form-control" minlength="6" placeholder="Your Password" id="password" name="password" required style="height: 15px; padding: 0.5rem 1rem;">
              </div>
              <div class="form-group last mb-3">
                <label for="password" style="margin-top: -10px;">Confirm Password</label>
                <input type="password" class="form-control" minlength="6" placeholder="Your Password" id="password_confirm" name="password_confirm" required style="height: 15px; padding: 0.5rem 1rem;">
              </div>
              <hr />
              <div class="form-group first">
                <label for="first_name" style="margin-top: -10px;">First name</label>
                <input type="text" class="form-control" minlength="4" placeholder="john" id="first_name" name="first_name" requied style="height: 21px; padding: 0.5rem 1rem;">
              </div>
              <div class="form-group first">
                <label for="last_name" style="margin-top: -10px;">Last name</label>
                <input type="text" class="form-control" minlength="6" placeholder="kue" id="last_name" name="last_name" required style="height: 21px; padding: 0.5rem 1rem;">
              </div>
              <div class="form-group first">
                <label for="profile_picture" style="margin-top: -10px;">Profile picture</label>
                <input type="file" class="form-control resize-input" id="profile_picture" name="profile_picture">
              </div>
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input type="submit" value="sign up" class="btn btn-danger resize-btn" style="margin-right: 195px; text-decoration: none; color: white; height: 35px; padding: 0.2rem 1.0rem;">
              <a href="{% url 'home_page' %}" class="btn btn-success resize-btn" style="margin-top: 0.0rem; text-decoration: none; color: white; height: 35px; padding: 0.2rem 1.0rem;"> Back to home</a>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="{% static 'main/image/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main/image/js/popper.min.js' %}"></script>
    <script src="{% static 'main/image/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/image/js/main.js' %}"></script>
  </body>
</html>